body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#calcBody {
    border-radius: 10px;
    border: double black 3px;
    height: 45%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 5px;
    gap: 15px
}

#mainBox {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

#calculusButtons,
#mainButtons {
    display: flex;
    flex-direction: column;
}

.buttonHolder,
#textBox {
    display: flex;
}

.operatorButton,
.operandButton,
.buttonHolder,
#input,
#output,
#mainButtons {
    flex: 3
}
#calculusButtons,
#ce {
    flex: 1
}

#output,
#input {
    text-align: right;
    border: none;
}

.operandButton {
    background-color: gold;
    border: solid 2px black;
}

#textBox {
    flex-direction: column;
    justify-content: center;
    background-color: green;
}

.period {
    background-color: gold;
    border: solid 2px black;
    flex: 2;
}

.operandButton:hover,
.period:hover {
    background-color: rgb(163, 144, 36);
    color: white;
}

.operandButton:active,
.period:active {
    background-color: chartreuse;
}
.operatorButton,
#ce {
    border: solid black 1px;
}
.operatorButton:hover,
#ce:hover {
    color: white;
    background-color: bisque;
}

.operatorButton:active,
#ce:active {
    color: white;
    background-color: silver;
}

.btn {
    font-family: sans-serif;
    text-align: center;
    font-size: medium;
}

.selectedOperator {
    background-color: rgb(146, 226, 26);
    color: white;
}